@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2418 0.0118 264.3262);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2418 0.0118 264.3262);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2418 0.0118 264.3262);
  --primary: oklch(0.7105 0.1887 48.4914);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.7208 0.0132 248.0105);
  --secondary-foreground: oklch(0.2418 0.0118 264.3262);
  --muted: oklch(0.9678 0.0063 247.8895);
  --muted-foreground: oklch(0.5501 0.0181 248.1570);
  --accent: oklch(0.9678 0.0063 247.8895);
  --accent-foreground: oklch(0.3187 0.0092 248.1175);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9138 0.0068 247.8997);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.6473 0.1574 250.5460);
  --chart-1: oklch(0.7105 0.1887 48.4914);
  --chart-2: oklch(0.6473 0.1574 250.5460);
  --chart-3: oklch(0.7412 0.1399 144.0032);
  --chart-4: oklch(0.7263 0.1249 349.3142);
  --chart-5: oklch(0.8954 0.1391 90.9201);
  --sidebar: oklch(0.2418 0.0118 264.3262);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.7105 0.1887 48.4914);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.3626 0.0142 264.3825);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.3145 0.0117 264.3921);
  --sidebar-ring: oklch(0.7105 0.1887 48.4914);
  --font-sans: "Amazon Ember", Arial, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: monospace;
  --radius: 0.25rem;
  --shadow-x: 0px;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(220, 13%, 13%);
  --shadow-2xs: 0px 0.25rem 0.5rem 0rem hsl(220 13% 13% / 0.05);
  --shadow-xs: 0px 0.25rem 0.5rem 0rem hsl(220 13% 13% / 0.05);
  --shadow-sm: 0px 0.25rem 0.5rem 0rem hsl(220 13% 13% / 0.10), 0px 1px 2px -1px hsl(220 13% 13% / 0.10);
  --shadow: 0px 0.25rem 0.5rem 0rem hsl(220 13% 13% / 0.10), 0px 1px 2px -1px hsl(220 13% 13% / 0.10);
  --shadow-md: 0px 0.25rem 0.5rem 0rem hsl(220 13% 13% / 0.10), 0px 2px 4px -1px hsl(220 13% 13% / 0.10);
  --shadow-lg: 0px 0.25rem 0.5rem 0rem hsl(220 13% 13% / 0.10), 0px 4px 6px -1px hsl(220 13% 13% / 0.10);
  --shadow-xl: 0px 0.25rem 0.5rem 0rem hsl(220 13% 13% / 0.10), 0px 8px 10px -1px hsl(220 13% 13% / 0.10);
  --shadow-2xl: 0px 0.25rem 0.5rem 0rem hsl(220 13% 13% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2418 0.0118 264.3262);
  --foreground: oklch(1.0000 0 0);
  --card: oklch(0.2418 0.0118 264.3262);
  --card-foreground: oklch(1.0000 0 0);
  --popover: oklch(0.2418 0.0118 264.3262);
  --popover-foreground: oklch(1.0000 0 0);
  --primary: oklch(0.7105 0.1887 48.4914);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.7208 0.0132 248.0105);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.3626 0.0142 264.3825);
  --muted-foreground: oklch(0.5501 0.0181 248.1570);
  --accent: oklch(0.3626 0.0142 264.3825);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3145 0.0117 264.3921);
  --input: oklch(0.3626 0.0142 264.3825);
  --ring: oklch(0.6473 0.1574 250.5460);
  --chart-1: oklch(0.7105 0.1887 48.4914);
  --chart-2: oklch(0.6473 0.1574 250.5460);
  --chart-3: oklch(0.7412 0.1399 144.0032);
  --chart-4: oklch(0.7263 0.1249 349.3142);
  --chart-5: oklch(0.8954 0.1391 90.9201);
  --sidebar: oklch(0.2418 0.0118 264.3262);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.7105 0.1887 48.4914);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.3626 0.0142 264.3825);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.3145 0.0117 264.3921);
  --sidebar-ring: oklch(0.7105 0.1887 48.4914);
  --font-sans: "Amazon Ember", Arial, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: monospace;
  --radius: 0.25rem;
  --shadow-x: 0px;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.4;
  --shadow-color: hsl(220, 13%, 13%);
  --shadow-2xs: 0px 0.25rem 0.5rem 0rem hsl(220 13% 13% / 0.20);
  --shadow-xs: 0px 0.25rem 0.5rem 0rem hsl(220 13% 13% / 0.20);
  --shadow-sm: 0px 0.25rem 0.5rem 0rem hsl(220 13% 13% / 0.40), 0px 1px 2px -1px hsl(220 13% 13% / 0.40);
  --shadow: 0px 0.25rem 0.5rem 0rem hsl(220 13% 13% / 0.40), 0px 1px 2px -1px hsl(220 13% 13% / 0.40);
  --shadow-md: 0px 0.25rem 0.5rem 0rem hsl(220 13% 13% / 0.40), 0px 2px 4px -1px hsl(220 13% 13% / 0.40);
  --shadow-lg: 0px 0.25rem 0.5rem 0rem hsl(220 13% 13% / 0.40), 0px 4px 6px -1px hsl(220 13% 13% / 0.40);
  --shadow-xl: 0px 0.25rem 0.5rem 0rem hsl(220 13% 13% / 0.40), 0px 8px 10px -1px hsl(220 13% 13% / 0.40);
  --shadow-2xl: 0px 0.25rem 0.5rem 0rem hsl(220 13% 13% / 1.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

body {
  font-family: var(--font-sans);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .tab-style {
    @apply data-[state=active]:border-b-2 data-[state=active]:border-orange-500 rounded-none shadow-none bg-transparent px-0 pb-3 pt-3 font-semibold text-slate-500 data-[state=active]:text-orange-600 transition-all;
  }
}